<p id="notice"><%= notice %></p>

<h1>Mini blog</h1>

<%= form_for @blog, :url => {:controller => :blogs, :action => :create} do |f| %>
  <%= f.text_field :body, :placeholder => '投稿しよう', :size => '80%', :name => 'blog[body]', :id => 'blog_body' %>
  <%= f.submit "投稿する", :name => 'commit', :disable_with => '投稿する' %>
<% end %>

<hr />

<ul id="blogs">
  <% @blogs.each do |blog| %>
    <li class="blog">
      <p><span>
        <%= blog.id %>: <%= link_to blog.body, blog %>
      </span></p>
      <p class="meta">
        <span class="like">いいね:<%= blog.like %>|</span>
        <span class="comment">コメント数:まだないよ|</span>
        <span class="post-date">投稿日時:<%= blog.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
      </p>
    </li>
  <% end %>
</ul>