<p id="notice"><%= notice %></p>

<h1>Mini blog</h1>
<%= link_to '戻る', blogs_path %>

<div class="blog-detail">
  <p>
    <span><%= @blog.id %>:</span><span class="post-date">投稿日時:<%= @blog.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
    <span class="like">|いいね:<%= @blog.like %></span>
  </p>
  <p class="body"><%= @blog.body %></p>
</div>
